{% extends "page.njk" %}

{% block content %}
  <article>
    <h1>{{title}}</h1>
    <p style="margin-top: 0; font-variant-caps: all-petite-caps; color: #555;">{{date | monthdateyear }}</p>
    {{ content | safe }}
  </article>
{% endblock %}