{% extends "./page.njk" %}

{% from "./macros/htmlhead.njk" import htmlHead with context %}

{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}
{% set prismLink %}
<link href="/styles/prism-okaidia.css" rel="stylesheet">
{% endset %}

{% block headBlock %}
  {{ htmlHead(prismLink) }}
{% endblock%}

{% block contentBlock %}
  <article>
    <h1 class="primary-title">{{ title }}</h1>
    <p class="article-date">{{date | monthdateyear }}</p>
    {{ content | safe }}
  </article>
  {% if previousPost or nextPost %}
    <hr style="margin: 1.5rem auto;">
    <div class="next-previous-post">
      <div class="previous-post">
        {% if previousPost %}
          <strong>Previous Post:</strong><br>
          <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        {% endif %}
      </div>
      <div class="next-post">
        {% if nextPost %}
          <strong>Next Post:</strong><br>
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        {% endif %}
      </div>
    </div>
    <style>
      .next-previous-post {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
      }
      .next-post {
        text-align: right;
      }
      .previous-post {
        text-align: left;
      }
      .next-post,
      .previous-post {
        min-width: 50%;
      }
      .article-date {
        margin-top: 0;
        font-variant-caps: all-petite-caps;
        color: #555;
      }
    </style>
  {% endif %}
{% endblock %}