{% from "./macros/htmlhead.njk" import htmlHead with context %}

<!DOCTYPE html>
<html lang="en">

  {% set headContent %}
    <style>
      body {
        min-height: 0;
      }
      main {
        height: 100%;
      }
    </style>
  {% endset %}
  {{ htmlHead(headContent) }}

  <body>
    <main>

      {% block contentBlock %}
        <h1>{{title}}</h1>

        {{ content | safe }}
      {% endblock %}
      
    </main>
    <script data-goatcounter="https://brianjdevries.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>