{% from "./macros/htmlhead.njk" import htmlHead with context %}

{% if showNewsletterForm == null %}
  {% set showNewsletterForm = true %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

  {% block headBlock %}
    {{ htmlHead() }}
  {% endblock %}

  <body>

    {% include "./partials/nav-header.njk" %}

    <main id="main-content">

      {% block contentBlock %}
        <h1 class="primary-title">{{ title }}</h1>
        {{ content | safe }}
      {% endblock %}

      {% if showNewsletterForm %}
        {% include "./partials/newsletter-form.njk" %}
      {% endif %}

    </main>

    {% include "./partials/site-footer.njk" %}

    <script data-goatcounter="https://brianjdevries.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>