@import "variables.css";

:root {
  scrollbar-color: var(--vermillion) var(--dark-color);
  scrollbar-width: thin;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: var(--light-color);
  color: var(--dark-color);
}

p {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

a,
:visited {
  color: inherit;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--vermillion);
}

a:hover,
a:active {
  color: var(--vermillion);
}

pre,
code {
  font-size: 1rem;
  font-family: Consolas;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 0.25rem;
  padding: 3px 6px;
  white-space: break-spaces;
}

/* Site Navigation */

header {
  width: 100%;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: row;
}

.site-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 600px;
  width: 100%;
  color: white;
  justify-content: space-between;
}

.active {
  text-decoration: underline;
}

.site-logo img {
  max-height: 40px;
  max-width: 40px;
  background-color: rgba(0, 0, 0, 0);
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.nav-list li {
  width: 100%;
  text-align: center;
}

.nav-list li a {
  padding: 0.25rem;
  display: block;
  text-decoration: none;
  color: white;
}

/* Main Block */

main {
  width: 100%;
  padding: 0 0.5rem;
  max-width: 600px;
  margin: 1rem auto 0;
  min-height: 100vh;
}

/* Site Footer */

.site-footer {
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  width: 100%;
}

.site-footer p {
  max-width: 600px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.uncopyright-notice svg {
  height: 1.2em;
  width: 1.2em;
  margin-bottom: -0.2em;
}
