---
title: Blog
description: My writings
eleventyNavigation:
  key: Blog
  order: 300
---

<ol class="posts">
  {% for blog in collections.blog | reverse %}

    {% if blog.url != "/blog" %}
      <li>
        <a class="post-link" href="{{blog.url}}">{{blog.data.title}}</a>
      </li>
    {% endif %}

  {% endfor %}
</ol>