---
title: "Blog"
description: "Brian DeVries's blog, where he writes primarily about web development and technology. His articles include tutorials and observations."
layout: "page.njk"
eleventyNavigation:
  key: "Blog"
  order: 300
showNewsletterForm: false
---

{% set curYear = null %}
<ol class="posts">
  {% for blog in collections.blog %}
    {% if blog
      .date
      .getUTCFullYear() != curYear %}
      {% set curYear = blog
        .date
        .getUTCFullYear() %}
      <li class="subhed">{{ curYear }}</li>
    {% endif %}
    <li class="post">
      <div>
        <a class="post-link" href="{{ blog.url }}">{{ blog.data.title }}</a>
      </div>
      <div class="date">
        <time datetime="{{ blog.date | dateformat("YYYY-MM-DDTHH:mm:ss.SSS[Z]") }}">{{ blog.date | dateformat("MMM DD") }}</time>
      </div>
    </li>
  {% endfor %}
</ol>