---
layout: page.njk
---

{% for job in workHistory %}
  <div>
    <p>{{job.title}}</p>
    <p>{{job.description}}</p>
    <p>{{job.startDate | datefriendly}}</p>
    <p>{{job.endDate | datefriendly}}</p>
  </div>
{% endfor %}