---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Brian DeVries",
    "subtitle": "Brian DeVries' Personal Blog",
    "language": "en",
    "author": {
      "name": "Brian DeVries",
      "email": "brian@brianjdevries.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(site.url) }}" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <uri>{{ site.url }}</uri>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.blog | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ post.data.date | dateToRfc3339 }}</published>
    <updated>{% if post.data.lastModified %}{{ post.data.lastModified | dateToRfc3339 }}{% else %}{{ post.data.date | dateToRfc3339 }}{% endif %}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>