---
title: "Projects"
description: "Brian DeVries' projects"
layout: "page.njk"
showNewsletterForm: false
---

{% for project in projectData | reverse %}
  <div id="{{project.title | slugify}}" class="demo project-entry" data-demo-label="">
    <h2>{{project.title}}</h2>
    <p class="project-date">
      <em>{{project.startDate | dateformat("MMMM YYYY")}} - {% if project.endDate === null %}Present{% else %}{{project.endDate | dateformat("MMMM YYYY")}}
        {% endif %}
      </em>
    </p>
    <p>
      <strong>
        {% if project.url %}
          <a href="{{project.url}}">Demo</a>
        {% endif %}
      </strong>
      {% if project.repo %} (<a href="{{project.repo}}">source</a>){% endif %}
    </p>
    <h4>Summary</h4>
    {{ project.summary | markdown | safe }}
  </div>
{% endfor %}

<style>
  .project-entry {
    margin: 2rem auto;
    padding: 0.75rem;
  }
  .project-entry h2 {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 2rem;
  }
  .project-entry h3 {
    font-size: 1.7rem;
  }
  .project-date {
    margin: 0.25rem auto;
  }
</style>