---
title: "Search"
description: "Search brianjdevries.com content"
layout: "page.njk"
eleventyNavigation:
  key: "Search"
  order: 400
showNewsletterForm: false
---

{% include "partials/search-pagefind.njk" %}