---
title: "Site Style Guide"
layout: "page.njk"
description: "The style guide for brianjdevries.com"
showNewsletterForm: false
eleventyExcludeFromCollections: true
---

<h2>Colors</h2>
<div style="display: flex; flex-direction: row;">
  <div class="swatch" style="background-color: var(--vermillion);  color: black;">Vermillion</div>
  <div class="swatch" style="background-color: var(--dark-color);  color: white; margin-left: 0.5rem;">Dark</div>
  <div class="swatch" style="background-color: var(--light-color); color: black; margin-left: 0.5rem; border: 1px solid black;">Light</div>
</div>
<h2>Demos</h2>
  <p class="demo">This is a basic demo</p>
  <p class="demo" data-demo-label="New label">This is a demo with a new label.</p>
<h2>Typography</h2>
<h3>Headers and Text</h3>
<div class="demo">
  <h1>Top Level Header</h1>
  <p>This is a paragraph to give sense of the flow of a document that has headers. There shouldn't be a huge gap around the headers, but enough to make text readable and let the headers stand out!</p>
  <h2>Second Level Header</h2>
  <p>This is a paragraph to give sense of the flow of a document that has headers. There shouldn't be a huge gap around the headers, but enough to make text readable and let the headers stand out!</p>
  <h3>Third Level Header</h3>
  <p>This is a paragraph to give sense of the flow of a document that has headers. There shouldn't be a huge gap around the headers, but enough to make text readable and let the headers stand out!</p>
  <h4>Fourth Level Header</h4>
  <p>This is a paragraph to give sense of the flow of a document that has headers. There shouldn't be a huge gap around the headers, but enough to make text readable and let the headers stand out!</p>
  <h5>Fifth Level Header</h5>
  <p>This is a paragraph to give sense of the flow of a document that has headers. There shouldn't be a huge gap around the headers, but enough to make text readable and let the headers stand out!</p>
  <h6>Sixth Level Header</h6>
  <p>This is a paragraph to give sense of the flow of a document that has headers. There shouldn't be a huge gap around the headers, but enough to make text readable and let the headers stand out!</p>
</div>
<h3>Primary Title</h3>
<div class="demo" data-demo-label="Primary Title">
  <h1 class="primary-title">Primary Title Demo</h1>
</div>
<h3>Links</h3>
  <p class="demo" data-demo-label="standard link">This is a <a href="#">standard link</a></p>
<h3>Blockquotes</h3>
<div class="demo">
  <p>Normal paragraph text.</p>
  <blockquote> There are not many who would do things the way I do them.</blockquote>
  <p>Normal paragraph text.</p>
</div>
<h2>Web Fonts</h2>
<h2>Code Blocks</h2>
<h2>Icons</h2>
<h2>Lists</h2>
<h3>Ordered</h3>
<div class="demo" data-demo-label="ordered list">
  <ol>
    <li>Ordered list item.</li>
    <li>Ordered list item.</li>
    <li>Ordered list item.</li>
    <li>Ordered list item.</li>
  </ol>
</div>
<h3>Unordered</h3>
<div class="demo" data-demo-label="unordered list">
  <ul>
    <li>Unordered list item.</li>
    <li>Unordered list item.</li>
    <li>Unordered list item.</li>
    <li>Unordered list item.</li>
  </ul>
</div>
<h3>Posts list</h3>
<div class="demo" data-demo-label="Posts list">
  <ol class="posts">
    <li class="subhed">2021</li>
    <li class="post">
      <span class="date">Aug 04</span>
      <a class="post-link" href="#">Blog Post Entry</a>
    </li>
    <li class="post">
      <span class="date">Aug 04</span>
      <a class="post-link" href="#">Blog Post Entry</a>
    </li>
    <li class="post">
      <span class="date">Aug 04</span>
      <a class="post-link" href="#">Blog Post Entry</a>
    </li>
    <li class="subhed">2020</li>
    <li class="post">
      <span class="date">Aug 04</span>
      <a class="post-link" href="#">Blog Post Entry</a>
    </li>
    <li class="post">
      <span class="date">Aug 04</span>
      <a class="post-link" href="#">Blog Post Entry</a>
    </li>
    <li class="post">
      <span class="date">Aug 04</span>
      <a class="post-link" href="#">Blog Post Entry</a>
    </li>
  </ol>
</div>
<h2>Comments?</h2>
<h2>Tables</h2>
<div class="demo">
  <table>
    <caption>Sample Table</caption>
    <thead>
      <tr>
        <th>Heading 1</th>
        <th>Heading 2</th>
        <th>Heading 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
      <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data Extra data over here!</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Fluid Media</h2>
<h2>Other components</h2>
<pre>
- [x] Colors
- [x] Demos
  - [x] Basic demo box
  - [x] Demo with custom label
- [x] Typography
  - [x] Fonts
    - [x] `Arial` for headers
    - [x] `Georgia` for body
  - [x] Headers and Text
    - [x] h1, h2, h3, h4, h5, h6
    - [x] Primary Title
    - [x] Links
    - [x] blockquotes
- [ ] Web Fonts
- [ ] Code
  - [ ] Inline
  - [ ] Block
  - [ ] _Use_Prism.js?_
- [ ] Icons
- [ ] Lists
  - [x] Ordered
  - [x] Unordered
  - [ ] Description
  - [ ] Inline
  - [x] Posts List
- [ ] ~~Comments?~~
  - [ ] ~~Nested replies~~
- [x] Tables
- [ ] Fluid Media
  - [ ] Image
  - [ ] Full width image
  - [ ] Video
  - [ ] Third party video
  - [ ] Figure with caption
  - [ ] Standalone caption
- [ ] Other components
  - [ ] Custom scrollbar
  - [ ] Fixed table of contents
  - [ ] Printed page
  - [ ] Callouts
    - [ ] Update
    - [ ] Warning
</pre>