---
title: "Work Experience"
description: "Brian DeVries's work experience listed in chronological order. He's worked professionally as an electrical engineer and a software engineer."
layout: "page.njk"
showNewsletterForm: false
---

{% for job in workHistory | reverse %}
  <div class="experience-entry">
    <h2>{{job.title}}</h2>
    <p style="line-height: 1.5;">
      <strong>
        {% if job.url %}
          <a href="{{job.url}}">{{job.employer}}</a>
        {% else %}
          {{job.employer}}
          {%endif%}
        </strong>
        {% if job.location %}<br class="show-mobile"/>
          <span style="color: #555;"> - {{job.location}}</span>
        {% endif %}
      </p>
      <p>
        <em>{{job.startDate | dateformat("MMMM YYYY")}} - {% if job.endDate === null %}Present{% else %}{{job.endDate | dateformat("MMMM YYYY")}}
          {% endif %}
        </em>
      </p>
      {% if job.summary %}
        {{ job.summary | markdown | safe }}
      {% endif %}
    </div>
    <hr class="entry-divider">
  {% endfor %}

  <style>
    .hide-mobile {
      display: none;
    }
    .entry-divider {
      border: 3px solid var(--vermillion);
    }
    .entry-divider:nth-last-of-type(1) {
      display: none;
    }
    .experience-entry {
      margin: 2rem auto;
      padding: 0.75rem;
    }
    .experience-entry h2 {
      margin-top: 1rem;
      font-size: 2rem;
    }
    .experience-entry h3 {
      font-size: 1.7rem;
    }
    .experience-entry p {
      margin: 0.3rem 0;
    }
    @media (min-width: 700px) {
      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: initial;
      }
    }
  </style>