<hr>
<p>Thanks for reading! Shoot me <a href="mailto:comments@brianjdevries.com?subject=Reply to &quot;{% if title %}{{ title }}{% else %}{{post.data.title}}{% endif %}&quot;">an email</a> with your thoughts or just to say hello.</p>