<link rel="preload" href="/styles/variables.css" as="style"/>
<link rel="preload" href="/styles/reset.css" as="style"/>
<link rel="stylesheet" href="/styles/variables.css"/>
<link rel="stylesheet" href="/styles/reset.css"/>
<link rel="stylesheet" href="/styles/base.css"/>
<link href="https://unpkg.com/prismjs@1.25.0/themes/prism-okaidia.css" rel="stylesheet">