<link rel="preload" href="/styles/variables.css" as="style">
<link rel="preload" href="/styles/reset.css" as="style">
<link rel="stylesheet" href="/styles/variables.css">
<link rel="stylesheet" href="/styles/reset.css">
<link rel="stylesheet" href="/styles/base.css">