{% macro latestPosts(maxPosts = 3) %}
<ol class="posts">
{% set count = 0 %}
{% for blog in collections.blog %}
{% if count < maxPosts %}
<li class="post">
<div><a class="post-link" href="{{blog.url}}">{{blog.data.title}}</a></div>
<div class="date">
  <time datetime="{{ blog.date | dateformat("YYYY-MM-DDTHH:mm:ss.SSS[Z]") }}">{{ blog.date | dateformat("MMM DD, YYYY") }}</time>
</div>
</li>
{% set count = count + 1 %}
{% endif %}
{% endfor %}
</ol>
{% endmacro %}