<header>
  <nav class="site-nav">
    <a href="/">
      <div class="site-logo">
        <img src="/favicon-32x32.png" alt="site logo"/>
        <span>Brian DeVries</span>
      </div>
    </a>
    {% navlist collections.all | eleventyNavigation,
    page,
    1 %}
  </nav>
</header>

{# ☰ ✖ #}