<div class="newsletter-form-container">
  <h3>Join the bystanders</h3>
  <p>Get an email whenever I post something new.</p>
  <p>Alternatively, <a href="/feed.xml">follow the blog feed.</a></p>
  <form action="https://buttondown.email/api/emails/embed-subscribe/briandevries" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/briandevries', 'popupwindow')">
    <input type="email" name="email" id="bd-email" placeholder="Email" />
    <button type="submit">Subscribe</button>
    {# <p>
      <a href="https://buttondown.email/refer/briandevries" target="_blank">Powered by Buttondown.</a>
    </p> #}
  </form>
</div>