<div class="newsletter-form-container">
  <h4>Subscribe to the newsletter</h4>
  <p>Get notified when I publish something new!</p>
  <form action="https://buttondown.email/api/emails/embed-subscribe/briandevries" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/briandevries', 'popupwindow')">
    <input type="email" name="email" id="bd-email" placeholder="Email" />
    <button type="submit">Subscribe</button>
    {# <p>
      <a href="https://buttondown.email/refer/briandevries" target="_blank">Powered by Buttondown.</a>
    </p> #}
  </form>
</div>