<form action="https://duckduckgo.com/" method="GET">
	<input type="search" name="q" id="search-term" class="search-txt" autocomplete="off" autofocus placeholder="i.e. work experience">
	<input aria-hidden="true" type="hidden" hidden name="sites" value="brianjdevries.com">
	<input aria-hidden="true" type="hidden" hidden name="kx" value="#777777">
	<input aria-hidden="true" type="hidden" hidden name="k7" value="#040404">
	<input aria-hidden="true" type="hidden" hidden name="k8" value="#cccccc">
	<input aria-hidden="true" type="hidden" hidden name="k9" value="#e03021">
	<input aria-hidden="true" type="hidden" hidden name="ko" value="-2">
	<input aria-hidden="true" type="hidden" hidden name="k1" value="-1">
	<input aria-hidden="true" type="hidden" hidden name="kaa" value="#777777">
	<button type="submit">Search</button>
</form>

{# 
https://duckduckgo.com/params

Param  | Value
-----  | ------
search | search term
sites	 | sites to search
kx     | url color
k7     | background color
k8     | text color
k9     | link color
ko     | remove header
k1     | turn ads off
kaa    | visited link color

 #}