<footer class="site-footer">
  <nav>
    <ul class="inline">
      <li>
        <a href="/now/">Now</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="/contact/">Contact</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="/style-guide/">Style Guide</a>
      </li>
      <li>&#8226;</li>
      <li>
        Built with
        <a href="https://11ty.dev">Eleventy</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="https://github.com/techcarpenter/brianjdevries.com">Source Code</a>
      </li>
    </ul>
    <ul class="inline">
      <li>
        <a rel="me" href="https://indieweb.social/@techcarpenter">Mastodon</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="https://twitter.com/brianjdevries">Twitter</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="mailto:brian@brianjdevries.com">Email</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="https://github.com/techcarpenter">Github</a>
      </li>
    </ul>
    <ul class="inline">
      <li class="uncopyright-notice">
        <a href="https://uncopyright.org/notice/?uwn=brianjdevries.com&?uwc=Brian+DeVries">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 119.7 119.7">
              <g fill="currentColor">
                <path d="M60 11a48 48 0 11-49 49 49 49 0 0149-49m0-11a60 60 0 1060 60A60 60 0 0060 0z" opacity=".8"></path>
                <path d="M81 66q0 10-5 15-6 5-17 5-10 0-16-5-5-5-5-15V37h13v29q0 5 2 8 2 2 6 2 9 0 9-10V37h13z"></path>
              </g>
            </svg>
          </span>
          Uncopyright</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="https://notbyai.fyi"><img alt="Written by a human" src="/images/Written-By-Human-Not-By-AI-Badge-white.svg"/></a>
      </li>
    </ul>
  </nav>
</footer>