<footer class="site-footer">
  <p class="uncopyright-notice">
    <a href="https://uncopyright.org/notice/?uwn=brianjdevries.com&?uwc=Brian+DeVries">
      <span title="Uncopyright" alt="Uncopyright">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.7 119.7">
          <g fill="currentColor">
            <path d="M60 11a48 48 0 11-49 49 49 49 0 0149-49m0-11a60 60 0 1060 60A60 60 0 0060 0z" opacity=".8"></path>
            <path d="M81 66q0 10-5 15-6 5-17 5-10 0-16-5-5-5-5-15V37h13v29q0 5 2 8 2 2 6 2 9 0 9-10V37h13z"></path>
          </g>
        </svg>
      </span> Uncopyright</a>
  </p>
</footer>