<footer class="site-footer">
  <nav>
    <ul class="inline">
      <li>
        <a href="/now/">Now</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="/contact/">Contact</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="/style-guide/">Style Guide</a>
      </li>
      <li>&#8226;</li>
      <li>
        <a href="/supporters/">Supporters</a>
      </li>
    </ul>
    <ul class="inline">
      <li>
        {% include "./support-button.njk" %}
      </li>
      <li>
        <a href="https://notbyai.fyi"><img alt="Written by a human" height="42" width="131" src="/images/Written-By-Human-Not-By-AI-Badge-white.svg"/></a>
      </li>
    </ul>
  </nav>
</footer>