<a title="Support me on ko-fi.com" class="kofi-button" target="_blank" href="/support-me/">
  <span class="kofitext"><img src="/images/cup-border.png" alt="Ko-fi donations" class="kofiimg"/>Support Me on Ko-fi</span>
</a>